<div>
      <% if (user) { %>
        <a href="/dogs/registered" class="btn">My Registered Dogs</a>
        <a href="/dogs/adopted" class="btn">My Adopted Dogs</a>
        <a href="/dogs/register" class="btn">Register a Dog</a>
        <a href="/dogs/adopt" class="btn">Adopt a Dog</a>
      <% } %>
</div>