<%- include('partials/header'); -%>

<header>
  <div class="puppy">
    <img src="/puppy.png" alt="">
  </div>
  <div class="headings">
    <h2>Dog Adoption Platform</h2>
    <h3>Find Your New Best Friend</h3>
    
<%- include('partials/buttons'); -%>
  </div>

</header>

<%- include('partials/footer'); -%>